body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.loading {
  width: 50px;
  height: 50px;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-japan.jpg") top center;
  background-size: cover;
  position: relative;
}

.feature_container {
  border: solid 1px;
  padding: 20px;
  border-radius: 1cm;
}

.card_svg {
  color: #4455b3 !important;
  font-size: 48px;
  float: left;
}

#hero:before {
  content: "";
  background: rgba(156, 145, 145, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
  padding-top: 74px;
  text-align: center;
}

#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #ffc451;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .icon-box {
  padding: 30px 20px;
  transition: ease-in-out 0.3s;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  height: 100%;
  text-align: center;
}

#hero .icon-box i {
  font-size: 32px;
  line-height: 1;
  color: #ffc451;
}

.multi_select_class .multiselect__content-wrapper {
  z-index: 1 !important; /* set higher z-index value */
  position: relative !important;
}

#hero .icon-box h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  line-height: 26px;
}

#hero .icon-box h3 a {
  color: #fff;
  transition: ease-in-out 0.3s;
}

#hero .icon-box h3 a:hover {
  color: #1c54bd;
}

#hero .icon-box:hover {
  border-color: #ffc451;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

.weather .content h3 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}

.weather_widget {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/rain.jpg") fixed center center;
  background-size: cover;
  padding: 60px 0;
}

.cards_content {
  padding-top: 10px;
}

.cards_content .icon-box {
  padding-left: 15px;
}

.cards_content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.cards_content .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

#footer {
  background: rgb(121, 166, 218);
  font-size: 14px;
  color: #fff;
  padding: 0 0 30px 0;
}

#footer .credits {
  font-size: 13px;
  color: #fff;
  padding-top: 10px;
  text-align: center;
}